:root {
  --themeColor: rgb(255, 162, 0);
  --font-color: #2c2c2c;
  --paragrapgh-font-size: 11px;
}

.products {
  display: flex;
  justify-content: center;
}
.products .product-box {
  flex-wrap: wrap;
  width: 76%;
  display: flex;
}

.products .product-box .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin: 20px;
  position: relative;
}

.products .product-box .product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.45s ease;
}
.products .product-box .product img:hover {
  transform: scale(0.95);
  transition: all 0.45s ease;
  cursor: pointer;
}

.products .product-box .product .tag {
  padding: 4px 7px;
  color: white;
  background-color: rgb(1, 172, 1);
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 11px;
  font-weight: bold;
}

.products .product-box .product .text-box {
  display: flex;
  justify-content: space-between;
}

.products .product-box .product .text-box .right {
  margin-top: 5px;
}

.products .product-box .product .text-box .price {
  font-size: var(--paragrapgh-font-size);
  color: var(--font-color);
  font-weight: bold;
}

.products .product-box .product .text-box .text {
  margin: 10px 0px;
  font-size: var(--paragrapgh-font-size);
  color: var(--font-color);
}
